body{
    color:rgb(25, 209, 237);
    background: blue;
    margin; 0px;
}
header {

border-bottom: solid 2px  rgb(25, 237, 57)
padding: 20px
front-size: 72px;
color: rgb;
























































